.hdr {
  width: inherit;
  height: 600px;
  background-image: url(../images/main.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.hdr--small {
  height: 300px;
}
.hdr__text {
  background-color: transparent;
  margin-left: 30%;
  margin-top: 10%;
}
