.product {
  padding-top: 50px;
}
.product__hdr {
  color: #283E32;
  font-size: 30px;
  margin-bottom: 50px;
  margin-left: 8%;
  margin-right: 8%;
  padding-bottom: 10px;
  border-bottom: 1px solid #76A78E;
}
.product__grid {
  margin-left: 10%;
  margin-right: 10%;
}

.amount {
  display: inline-block;
  border: 1px solid black;
  padding: 0px;
}
.amount p {
  display: inline-block;
  margin: 0px;
}
