@use 'palette';

.feature {
  padding-top: 100px;
  text-align: center;

  &__hdr {
    color: palette.$text-dark;
    font-size: 25px;
    margin-bottom: 50px;
  }

  h3 {
    margin-bottom: 100px;
  }

  &__btn {
    color: palette.$text-2;
    font-size: 20px;
    border: 1px solid palette.$text-1;
    padding: 10px 20px 10px 20px;

    &:hover {
      color:palette.$text-1;
      font-weight: bold;
    }
  }

  &__grid {
    margin-left: 10%;
    margin-right: 10%;
  }
}