@use 'palette';

.hdr {
  width: inherit;
  height: 600px;
  background-image: url(../images/main.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;

  &--small {
    height: 300px;
  }

  &__text {
    background-color: transparent;
    margin-left: 30%;
    margin-top: 10%;
  }
}