@use 'palette';

.product {
  padding-top: 50px;
  // text-align: center;

  &__hdr {
    color: palette.$text-dark;
    font-size: 30px;
    margin-bottom: 50px;
    margin-left: 8%;
    margin-right: 8%;
    padding-bottom: 10px;
    border-bottom: 1px solid palette.$text-2;
  }

  &__grid {
    margin-left: 10%;
    margin-right: 10%;
  }
}

.amount {
  display:inline-block;
  border: 1px solid black;
  padding: 0px;

  p {
    display:inline-block;
    margin: 0px;
  }
}